<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Admin/Base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Shopping Application</title>
</head>
<body>
	<section>
		<div class="container-fluid margin-class">
			<div class="row">
				<div class="col-md-3">
					<div class="card">
						<div class="card-head bg-light p-3">
							<h3 class="text-center fw-bold text-danger">Change Password</h3>
						</div>
						<div class="card-body">
							<form th:action="@{/admin/changepassword}" method="post">
								<!-- alert messages starts -->
								<div class="alert alert-danger" th:if="${session.failMsg}">
									<p class="text-center fw-bold">[[${session.failMsg}]]</p>
									<th:block th:text="${@IAdminServiceImpl.removeSessionMessage()}"></th:block>
								</div>
								<div class="alert alert-info" th:if="${session.infoMsg}">
									<p class="text-center fw-bold">[[${session.infoMsg}]]</p>
									<th:block th:text="${@IAdminServiceImpl.removeSessionMessage()}"></th:block>
								</div>
								<!-- alert messages ends -->
								<div class="form-group mb-3">
									<label for="oldPassword">Old Password</label>
									<input type="password" name="oldPassword" class="form-control" autocomplete="off" id="oldPassword" required="required"/>
								</div>
								<div class="form-group mb-3">
									<label for="newPassword">New Password</label>
									<input type="password" name="newPassword" class="form-control" autocomplete="off" id="newPassword" required="required"/>
								</div>
								<div class="form-group mb-3">
									<input type="submit" class="form-control btn-primary" value="Change"/>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card">
						<div class="card-head bg-light p-3">
							<h3 class="text-center text-danger fw-bold">Admin Details</h3>
						</div>
						<div class="card-body table-responsive">
							<!-- alert messages starts -->
							<div class="alert alert-success" th:if="${session.successMsg}">
								<p class="text-center fw-bold">[[${session.successMsg}]]</p>
								<th:block th:text="${@IAdminServiceImpl.removeSessionMessage()}"></th:block>
							</div>
							<!-- alert messages ends -->
							<table class="table table-hover">
								<tr class="table-dark">
									<th>SI No</th>
									<th>Profile</th>
									<th>Name</th>
									<th>Email</th>
									<th>Mobile No</th>
									<th>Address</th>
									<th>City</th>
									<th>State</th>
									<th>Pincode</th>
									<th>Action</th>
								</tr>
								<tr th:each="admin, c : ${admins}">
									<td th:text="${c.count}"></td>
									<td><img th:src="@{'/images/users/'+${admin.profileImage}}" height="50px" width="50px" class="img-round"></td>
									<td th:text="${admin.fullName}"></td>
									<td th:text="${admin.email}"></td>
									<td th:text="${admin.mobileNumber}"></td>
									<td th:text="${admin.address}"></td>
									<td th:text="${admin.city}"></td>
									<td th:text="${admin.state}"></td>
									<td th:text="${admin.pincode}"></td>
									<td>
										<a th:href="@{'/admin/updateAdmin/'+${admin.id}}" class="btn btn-success btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
										<a class="btn btn-danger btn-sm" th:onclick="'deleteAdmin('+${admin.id}+')'"><i class="fa-solid fa-trash-can"></i> Delete</a>
									</td>
								</tr>
							</table>
							<div class="d-flex justify-content-center mt-2">
								<nav aria-label="Page navigation example">
								  <ul class="pagination">
								    <li class="page-item" th:if="${currentPage!=0}"><a class="page-link" th:href="@{'/admin/admins?pageNo='+${currentPage-1}}">Previous</a></li>
								    <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}" th:classappend="${currentPage==i-1?'active': ''}"><a class="page-link" th:href="@{'/admin/admins?pageNo='+${i-1}}">[[${i}]]</a></li>
								    <li class="page-item" th:if=${currentPage+1!=totalPages}><a class="page-link" th:href="@{'/admin/admins?pageNo='+${currentPage+1}}">Next</a></li>
								  </ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script>
		function deleteAdmin(id) {
	        swal({
	            title: "Are you sure?",
	            text: "You want to delete this admin!",
	            icon: "warning",
	            buttons: true,
	            dangerMode: true,
	        })
	        .then((willDelete) => {
	            if (willDelete) {
	                window.location = "/admin/deleteAdmin/" + id;  
	            } else {
	                swal("This admin information is safe!");
	            }
	        });
	    }
		</script>
	</section>
</body>
</html>