<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Admin/Base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Shopping Application</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row d-flex justify-content-center align-items-center" style="height:93vh">
				<div class="col-md-6">
					<div class="card">
						<div class="card-head p-3 bg-light">
							<h3 class="text-center">Edit Category</h3>
						</div>
						<div class="card-body">
							<form th:action="@{/admin/updateCategoryInformation}" method="post" enctype="multipart/form-data">
								<input type="hidden" class="form-control" name="id" id="id" th:value="${category.id}" autocomplete="off" required="required"/>
								<div class="form-group mb-3">
									<label for="image">Enter Category</label>
									<input type="text" class="form-control" name="name" id="name" th:value="${category.name}" autocomplete="off" required="required"/>
								</div>
								<div class="form-group mb-3">
									<label for="status">Status</label>
								 <div class="form-check">
								  <input class="form-check-input" type="radio" name="isActive" id="flexRadioDefault1" value="true" th:checked="${category.isActive==true}">
								  <label class="form-check-label" for="flexRadioDefault1">
								    isActive
								  </label>
								</div>
								<div class="form-check">
								  <input class="form-check-input" type="radio" name="isActive" id="flexRadioDefault2" value="false" th:checked="${category.isActive==false}">
								  <label class="form-check-label" for="flexRadioDefault2">
								    inActive
								  </label>
								</div>
								</div>
								<div class="form-group mb-3">
									<label for="uploadImage">Upload Image</label>
									<input type="file" class="form-control" name="uploadImage" th:value="${category.categoryImage}" id="uploadImage" autocomplete="off" />
									<div class="mt-2">
										<img th:src="@{'/images/category/'+${category.categoryImage}}" alt="" height="100px" width="50px"/>
									</div>
								</div>
								<div class="form-group mb-3">
									<input type="submit" class="form-control btn btn-primary" value="update"/>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>