<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{Base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Shopping Application</title>
</head>
<body>
	<section class="mt-5">
		<div class="container mt-5">
			<div class="row d-flex justify-content-around align-items-center" style="height:85vh">
				<div class="col-md-5">
					<img th:src="@{/images/ecom.png}" alt="" width="100%" height="400px" />
				</div>
				<div class="col-md-5">
					<div class="card mt-5">
						<div class="card-head p-3 bg-light">
							<h3 class="text-center">Change Password</h3>
						</div>
						<div class="card-body">
						
							<!-- alert messaage starts  -->
							<div class="alert alert-danger" th:if="${session.failMsg}">
								<p class="text-center">[[${session.failMsg}]] <span>☠️☠️☠️</span></p>
								<th:block th:text="${@IAdminServiceImpl.removeSessionMessage()}"></th:block>
							</div>
							<!-- alert messaage ends  -->
						
							<form th:action="@{/changePassword}" method="post">
								<div class="form-group mb-3">
									<label for="newPassword">New Password</label>
									<input type="password" id="newPassword" class="form-control" name="newPassword" autocomplete="off" required="required"/>
								</div>
								<div class="form-group mb-4">
									<label for="confirmPassword">Confirm Password</label>
									<input type="password" id="confirmPassword" class="form-control" name="confirmPassword" autocomplete="off" required="required"/>
								</div>
								<div class="form-group mb-3 mt-2">
									<input type="submit" value="Next" class="btn btn-primary form-control" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>